<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAABFvgAARb4B0IHyYgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIpSURBVHic5du5edtAFEXhM66HqM/OBGVWexz2ohBO/PhJFJZZ3oLlNkCcP5BIYACByzmPj8fjb+Q1pKgPzjmPwBtASunjdrv9ibiOEICv8c8LCUJwB5iLl0UguAKsxcu8EdwASuJlngguADXxMi8Ec4CWeJkHgilAT7zMGsEMQCNeZolgAqAZL7NCUAewiJdZIKgCWMbLtBHUADziZZoIKgCe8TIthG6AiHiZBkIXQGS8rBehGWAP8bIehCaAPcXLWhGqAfYYL2tBqALYc7ysFqEY4AjxshqEIoAjxctKETYBjhgvK0FYBThyvGwLYRHgDPGyNYRZgDPFy5YQfgCcMV42h/AN4MzxsleEJ8AV4mVfERJcK14mCOmK8bKU0sevaZo+oy8katM0fSaA+/3+O6UUelAhYOMwDO/PP4IXQxiHYXiHl3+DF0F4xsPMF6GTI3yLh4WvwidF+BEPKz+GToYwGw8bP4dPgrAYDwU3RA6OsBoPhbfEDoqwGQ8VN0UPhlAUD5W3xQ+CUBwPDQ9Gdo5QFQ+Nj8Z2ilAdDx0PR3eG0BQPnY/Hd4LQHA8KBySCEbriQemITBBCdzwoHpJyRlCJB+Vjck4IavFgcFDSGEE1HoyOyhohqMeD4WFpZQSTeDA+Lq+EYBYPDi9MdCKYxoPTKzONCObx4PjSVCWCSzw4vzZXiOAWDwEvTm4guMZD0KuzCwju8RD48vQLQkh8+HLO4//zCWH7B6TVRCpVqUZ2AAAAAElFTkSuQmCC" />
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Waves Pixel</title>
</head>
<body>
	<div id="app">
		<div id="palette">
			<div :style="{'background-color': item}" v-for="(item, index) in colors" @click.left="colorClick(index)"></div>
		</div>
		<div id="box">
			<div class="row" v-for="(j, index) in 100">
				<div
					:style="{'background-color': colors[pixels[offset(i, j)]]}"
					:id="offset(i, j)"
					class="cell"
					v-for="(i, index) in 100"
					@click="setPixel(offset(i, j), color)"
					@mouseover="$event.target.style.backgroundColor=colors[color]"
					@mouseout="$event.target.style.backgroundColor=colors[pixels[offset(i, j)]]">
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				Canvas: <a :href="'https://testnet.wavesexplorer.com/address/' + canvas">{{ canvas }}</a>
			</div>
			<div>
				Fee: {{ fee }} WAVES
			</div>
			<a href="https://github.com/bodrych/wavespixel">GitHub</a>
			<a href="https://forum.wavesplatform.com/t/waves-keeper-beta/3547">Waves Keeper</a>
			<a href="https://forum.wavesplatform.com/t/the-waves-pixel/3726">Forum thread</a>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>